@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

div, footer {
    font-family: "Montserrat", sans-serif;
}

#csengetesiRendDiv {
    opacity: 0;
    animation: megnyito 1s ease forwards;

    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    padding: 1rem;
    max-width: fit-content;
    box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.3);
    line-height: 1.2rem;
}

.orarendDiv {
    opacity: 0;
    animation: megnyito 1s ease forwards;

    background-color: rgb(163, 162, 162);
    border-radius: 2rem;
    padding: 0.7rem;
    box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.3);
    text-align: center;
}

footer {
    opacity: 0;
    animation: megnyito 1s ease forwards;

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(202, 197, 197);
    padding: 0.7rem;
}

@keyframes megnyito {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

